{% extends 'base.html.twig' %}

{% block title %}Home {{parent()}}{% endblock %}

{% block body %}
    {% include "main/page_header.html.twig" with {
        page_title: 'Your Tasks List',
        actions: [
            {
                action_route: 'user_task_new',
                action_class: 'success',
                label: 'new task',
                link_options: { id: 1 },
            },
        ]
    } %}
    <section class="row mb-3">
        <div class="col-md-12 my-2 py-3">
            <div>
                <span class="text-warning small">Pending Tasks</span>
            </div>
            <div class="list-group">
                {% for item in tasks %}
                    {% if not item.completionDate %}
                        <a href="{{path('user_task_show',{id: item.id})}}" class="list-group-item list-group-item-action">
                        <div class="row no-gutter">
                            <div class="col-1">
                                {{item.priority == 1 ? '&#10022;' : item.priority == 2 ? '&#10022;&#10022;' : '&#10022;&#10022;&#10022;'}}
                            </div>
                            <div class="col-8">
                                {{ item.title }}
                            </div>
                            <div class="col-3">
                                {{ item.duedate|date('F j') }}
                                {% if date()|date('d') > item.duedate|date('d') %}
                                    <span class="badge badge-pill badge-danger p-2 small text-super">overdue</span>
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12 my-2 py-3">
            <div>
                <span class="text-warning small">Completed Tasks</span>
            </div>
            <div class="list-group">
                {% for item in tasks %}
                    {% if item.completionDate %}
                        <a href="{{path('user_task_show',{id: item.id})}}" class="list-group-item list-group-item-action">{{ item.title }} <span class="float-right small">{{item.completionDate|date('F j Y')}}</span> </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
