<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{path('home')}}">WMGY</a>
        <div class="collapse navbar-collapse" id="collapsibleMainNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if app.user %}
                {# <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li> #}
                <div class="dropdown nav-item open">
                    <a class="btn btn-block dropdown-toggle" type="button" id="tasksDropdownId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Tasks
                            </a>
                    <div class="dropdown-menu mt-0" aria-labelledby="tasksDropdownId">
                        <a class="dropdown-item" href="{{path('report')}}">Reports</a>
                        <a class="dropdown-item" href="{{path('user_task_index')}}">List</a>
                        <a class="dropdown-item" href="{{path('user_task_new')}}">New</a>
                    </div>
                </div>
                <div class="dropdown nav-item open">
                    <a class="btn btn-block dropdown-toggle" type="button" id="categoriesDropdownId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Categories
                            </a>
                    <div class="dropdown-menu mt-0 navbar-dark dropdown-menu-right" aria-labelledby="categoriesDropdownId">
                        <a class="dropdown-item" href="{{path('category_index')}}">List</a>
                        <a class="dropdown-item" href="{{path('category_new')}}">New</a>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <a href="{{path('app_logout')}}" class="btn btn-danger my-2 my-sm-0">Sign out</a>
        {% else %}
            <a href="{{path('app_login')}}" class="btn btn-outline-success my-2 my-sm-0">Login</a>
        {% endif %}
    </div>
</nav>