<div class="row mb-1 pb-1">
    <div class="col-12 btn-group d-flex justify-content-end">
        {% if actions is defined %}
        {% for item in actions %}
            <span class="badge badge-pill badge-{{item.action_class|default('primary')}}">
                <a href="{{path(item.action_route, item.link_options)}}" class="btn btn-sm text-{{item.link_class|default('light')}}">{{item.label}}</a>
            </span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-12 mb-2">
        <span class="h1 display-4 text-info">{{ page_title | default('Page Title')}}</span>
    </div>
</div>