{{ form_start(form) }}
    <div class="row mb-3">
    {{ form_row(form.title, {'row_attr': {'class': 'col-12'}}) }}
    {{ form_row(form.description, {'row_attr': {'class': 'col-12'}}) }}
    {{ form_row(form.startDate, {'row_attr': {'class': 'col-md-4 col-sm-12'}}) }}
    {{ form_row(form.dueDate, {'row_attr': {'class': 'col-md-4 col-sm-12'}}) }}
    {{ form_row(form.completionDate, {'row_attr': {'class': 'col-md-4 col-sm-12'}}) }}
    {{ form_row(form.owner, {'row_attr': {'class': 'col-12'}}) }}
    {{ form_row(form.taskmilestones, {'row_attr': {'class': 'col-12'}}) }}
    </div>
    <div class="row">
        <div class="col btn-group">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
{% if form.vars.data.id is not null %}
    {{ include('user_task/_delete_form.html.twig') }}
{% endif %}
