{% extends 'base.html.twig' %}

{% block title %}Task Details {{ parent() }}{% endblock %}

{% block body %}
    {% include "main/page_header.html.twig" with {
        page_title: 'Task Details',
        actions: [
            {
                action_route: 'user_task_edit',
                action_class: 'info',
                label: 'edit task',
                link_options: { id: user_task.id },
            },{
                action_route: 'user_task_new',
                action_class: 'success',
                label: 'new task',
            },{
                action_route: 'user_task_weekly',
                action_class: 'dark',
                label: 'weekly tasks report',
            },{
                action_route: 'user_task_index',
                action_class: 'warning',
                label: 'back to tasks list',
                link_class: 'dark',
            },{
                action_route: 'home',
                label: 'back to home',
            },
        ]
    } %}
    <div class="row">
        <div class="col-8">
            <div class="card bg-dark">
                <div class="card-body">
                    <h4 class="card-title">{{ user_task.title }} <span class="small float-right"><span class="small">priority </span><span class="text-{{ user_task.priority == 1 ? 'danger' : user_task.priority == 2 ? 'warning' : 'info' }}">{{ user_task.priority == 1 ? 'high' : user_task.priority == 2 ? 'med' : 'low' }}</span></span></h4>
                    <div class="card-text">
                    <div>{{ user_task.description|raw }}</div>
                    <p class="row">
                        <span class="col">Start {{ user_task.startDate ? user_task.startDate|date('F j Y') : '' }}</span> |
                        <span class="col">Due {{ user_task.dueDate ? user_task.dueDate|date('F j Y') : '' }}</span> |
                        <span class="col">Completed {{ user_task.completionDate ? user_task.completionDate|date('F j Y') : '' }}</span>
                    </p>
                    <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="list-group">
                {% for milestone in user_task.taskMilestones %}
                    <a href="{{path('task_milestones_edit', {id: milestone.id, referer: path('user_task_show', {id: user_task.id})})}}" class="list-group-item list-group-item-action bg-dark text-light">
                        <span>
                            {{ milestone.title }}
                        </span>
                        <span class="float-right">
                            {% if milestone.completed is null or milestone.completed == "false" %}
                                &#10003;
                            {% else %}
                                &dash;
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('user_task/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
