{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% include "main/page_header.html.twig" with {
        page_title: category.name,
        actions: [
            {
                action_route: 'category_edit',
                action_class: 'warning',
                label: 'update category',
                link_options: {
                    id: category.id
                }
            },{
                action_route: 'category_new',
                action_class: 'success',
                label: 'add new category',
            },{
                action_route: 'user_task_new',
                action_class: 'info',
                label: 'add new task',
            },
        ]
    } %}
    {# <section class="row">
        <div class="col">
            <table class="table table-sm table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ category.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section> #}
    {# <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for task in category.tasks %}
                    <li class="list-group-item"><a href="{{path('user_task_show',{id: task.id})}}">{{task}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div> #}
    <div class="row">
        {% include "snippets/tasks_list.html.twig" with { listTitle: 'Tasks that are pending in this category', tasks: pending, colClass: 'col-8'} %}
        {% include "snippets/tasks_list.html.twig" with { listTitle: 'Tasks that have been completed in this category', tasks: completed, colClass: 'col-4'} %}
    </div>
{% endblock %}
